main{
    margin: 0;
    width: 100%;
    background-image: url(./img/bg-intro-desktop.png);
    background-repeat: repeat;
    background-size: cover;
    background-color: #ff7779;
    display: flex;
    padding: 50px;
}

@media screen and (max-width: 800px) {
    main{
        display: block;
    }
}

.quote{
    width: 50%;
    height: 40%;
    padding-top: 15%;
    padding-bottom: 10%;
    padding-left: 10px;
    justify-content: left;
}
.quote h2{
    font-size: 3em;
    font-weight: bolder;
}

.form {
    padding: 8%;
    border-radius: 5px;
    border-color: black;
    align-items: center;
    justify-items: center;
    width: 50%;
    height: 40%;
    display: block;
}

.form .main_form{
    background-color: white;
    border-radius: 5px;
    align-items: center;
    margin: auto;
    width: 100%;
    padding: 15px;
    justify-items: center;
}

.form input, .form button{
    width: 95%;
    height: 40px;
    justify-items: center;
    margin: 10px;
    border-radius: 5px;
}