header{
    background-image: url(./img/bg-hero-desktop.svg);
    background-repeat: repeat;
    display: flex;
}

*, *::before, *::after{
    box-sizing: border-box;
}

.duel{
    padding: 5rem;
    display: block;
}

.perduel{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5rem;
    box-shadow: 0 20px 40px grey;
}

.phase1, .phase2{
    padding: 3rem;
    width: 50%;
}

img{
    width: 100%;
}

button{
    width: 40%;
    height: 30px;
    align-self: center;
    margin: 2rem;
    border: 0;
    border-radius: 8px;
}

@media screen and (max-width: 900px) {
    .perduel{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5rem;
        box-shadow: 0 20px 40px grey;
    }

    .phase1, .phase2{
        padding: 3rem;
        height: 50%;
        width: 100%;
    }
}